<!-- Header Start -->
<!--
{% assign eventTimes = site.data.events | map: 'time' %}
<section class="section-blue" id="next-event">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Prochain événement <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/events">Voir tous</a></h2>
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-date post-area">
            <div class="date">
              <div id="next-event-weekday" class="dayOfWeek">{{ event.timeISOString | date: "%a" }}</div>
              <div id="next-event-day-number" class="day">{{ event.timeISOString | date: "%-d" }}</div>
              <div id="next-event-month" class="dayOfWeek">{{ event.timeISOString | date: "%b" }}</div>
-->
              <!--<div class="year">{{ event.time | date: "%Y" }}</div>-->

<!--
            </div>
          </div>
          <div class="col-xs-12 col-sm-10">
            <div class="post-area card event-card">
              <div class="content">
                <a id="next-event-name" target="_blank" class="title bold"></a>
                <p id="next-event-desc"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/javascript ">
    var now = Date.now();
    var eventsToCome = ({{site.data.events | jsonify}}).filter(function(event) {
      return event.time >= now;
    }).sort(function (a, b) { return a.time > b.time});

    if (eventsToCome.length === 0) {
      jQuery('#next-event').remove();
    } else {
      var nextEvent = eventsToCome[0];
      jQuery('#next-event-name').text(nextEvent.name).attr("href", nextEvent.event_url)
      jQuery('#next-event-time').text(nextEvent.time)
      jQuery('#next-event-desc').html(nextEvent.description);
      var date = new Date(nextEvent.time);
      jQuery('#next-event-weekday').text(date.toLocaleString('fr', { weekday: "short" }).slice(0, -1));
      jQuery('#next-event-day-number').text(date.getDate());
      jQuery('#next-event-month').text(date.toLocaleString('fr', { month: "short" }).slice(0, -1));
    }
  </script>
</section>
-->
